<aside class="sidebar-wrapper" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;">
        <div class="simplebar-height-auto-observer-wrapper">
            <div class="simplebar-height-auto-observer"></div>
        </div>
        <div class="simplebar-mask">
            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                    <div class="simplebar-content mm-active" style="padding: 0px;">
                        <div class="sidebar-header">
                            <div><h4 class="logo-text">Skodash</h4></div>
                        </div>

{#                        <!--navigation-->#}
{#                        <ul class="metismenu mm-show" id="menu">#}
{#                            <li class="mm-active">#}
{#                                <a href="javascript:;" class="has-arrow" aria-expanded="true">#}
{#                                    <div class="parent-icon"><i class="bi bi-house-door"></i>#}
{#                                    </div>#}
{#                                    <div class="menu-title">Dashboard</div>#}
{#                                </a>#}
{#                                <ul class="mm-show mm-collapse">#}
{#                                    <li class="mm-active"> <a href="index.html" aria-expanded="true"><i class="bi bi-arrow-right-short"></i>eCommerce</a></li>#}
{#                                    <li> <a href="index2.html"><i class="bi bi-arrow-right-short"></i>Sales</a></li>#}
{#                                    <li> <a href="index3.html"><i class="bi bi-arrow-right-short"></i>Analytics</a></li>#}
{#                                    <li> <a href="index4.html"><i class="bi bi-arrow-right-short"></i>Project Management</a></li>#}
{#                                    <li> <a href="index5.html"><i class="bi bi-arrow-right-short"></i>CMS Dashboard</a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                        </ul>#}
{#                        <!--end navigation-->#}
                    </div>
                </div>
            </div>
        </div>
        <div class="simplebar-placeholder" style="width: auto; height: 1470px;"></div>
    </div>
    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
        <div class="simplebar-scrollbar" style="height: 390px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
    </div>
</aside>



{#<header id="header">#}
{#    <div class="d-flex flex-column">#}

{#        <div class="profile">#}
{#            <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">#}
{#            <h1 class="text-light"><a href="index.html">Alex Smith</a></h1>#}
{#            <div class="social-links mt-3 text-center">#}
{#                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>#}
{#                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>#}
{#                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>#}
{#                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>#}
{#                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>#}
{#            </div>#}
{#        </div>#}

{#        <nav id="navbar" class="nav-menu navbar">#}
{#            <ul>#}
{#                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>#}
{#                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>#}
{#                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>#}
{#                <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>#}
{#                <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>#}
{#                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>#}
{#            </ul>#}
{#        </nav><!-- .nav-menu -->#}
{#    </div>#}
{#</header>#}